<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width = device-width, initial-scale=1.0" />
    <title>Global Lobby</title>
    <link rel="stylesheet" href="/css/global_lobby.css">
    <script src="/scripts/chat.js" defer></script>
    <script src="/scripts/lobby.js" defer></script>
  </head>
  <body>
    <ul id="nav">
      <li><a style="float: left">Monopoly</a></li>
      <li><a style="float: right">User: <%=user.id %></a></li>
      <li><a href="auth/logout" style="float: right">Logout</a></li>
      <li><a href="/lobby" style="float: right">Lobby</a></li>
    </ul>
    <main class="container">
      <!-- <h2><u>ID:</u> <%= user.id %> <br/><u>User:</u> <%= user.email %></h2> -->

      <table class="top-grid" >
        <tr>
          <td>
            <form action="/games/create" method="get">
              <button type="submit">Create Game</button>
            </form>
          </td>
          <td>
            <u><b>Games</b></u>
          </td>
          <td>
            /maybe a search bar/
          </td>
        </tr>
      </table>
      <div class="line">
      </div>

      <% if(!availableGames.length){ %>
        <h3 class="nogame-text">No games are currently being played!</h3>
        <h4 class="nogame-text">Click <i>Create Game</i> to make a lobby!</h4>        

      <% } else { %>          
        <div class="game-container">
          <% availableGames.forEach(game=> { %>
            <div class="game-cards">
              <p class="center">Game <%= game.id %></p>
              <div class="button-center">
                 <button>
                  <a href="/games/<%= game.id %>/join">Join game</a>
                </button>
              </div>
         </div>
         <% }) %>
        </div>
      <% } %>
      
      <%- include('partials/chat', { roomId: 0 }) %>
    </main>
  </body>
</html>